.users__title {
  font-size: 1.8rem;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dedede;
}

.users__list {
  list-style: none;
  padding: 0px;
}

.users__list-item-link {
  position: relative;
  display: block;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba( 0, 0, 0, 0.2 );
  margin-bottom: 30px;
  cursor: pointer;
  color: #575757;
  transition: all 250ms ease-in;
  overflow: hidden;
  z-index: 2;
}

.users__list-item-link:hover,
.users__list-item-link:focus {
  text-decoration: none;
}

.users__list-item-link:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #007bff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: translateY(calc(100% - 4px));
  transition: transform 200ms ease-in;
}

.users__list-item-link:hover {
  color: #fff;
}

.users__list-item-link:hover:after {
  transform: translateY(0);
}
